/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./styles/about.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.about {
  max-width: 720px;
  margin: auto;
  padding: 2rem;
  text-align: left;
  border: 1px solid var(--border);
  background: var(--surface);
  border-radius: 16px;
}

.about h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.05rem;
  color: var(--muted);
  line-height: 1.6;
}

